services:
  frontend:
    build:
      context: ./lumia-front
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://backend:8000/api

  backend:
    build:
      context: ./back-end-lumia
      dockerfile: Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8000:8000"
    volumes:
      - ./back-end/demo:/app/demo  # Garde ce volume pour le code source
      - ./clustermanager/uploads:/uploads  # A modifier le jour ou on lance sur le VPS (/Users/jonathan/uploads) / :uploads c'est dans le container docker
      - maven-repo:/root/.m2/repository
    depends_on:
      - database
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - UPLOAD_DIR=/uploads  # Variable d’environnement pour configurer le dossier d’upload

  database:
    container_name: mongodb
    image: mongodb/mongodb-community-server:6.0-ubi8
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
    volumes:
      - mongodb_data:/data/db
      - ./database/mongoinit.js:/docker-entrypoint-initdb.d/mongoinit.js:ro
    ports:
      - "27017:27017"

volumes:
  mongodb_data:
  maven-repo:
